<element>header</element>

<div class="jumbotron">
	<h1 class="display-3">Welcome to 2nd Micro Home Page</h1>
	<p class="lead">Bacon ipsum dolor amet burgdoggen swine shank landjaeger, kevin strip steak t-bone pancetta ribeye pig doner chicken sausage. Tenderloin corned beef drumstick alcatra shank hamburger shoulder rump swine prosciutto pancetta filet mignon landjaeger.</p>
	<p><a class="btn btn-lg btn-success" href="/sub" role="button">Get more details</a></p>
</div>

<element>recommendations</element>
<element>footer</element>
